li{
	font-size: 10px;
	color: white;
}

.img1{
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	padding:500px;

}

.img2{
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
	padding:50px;	

}

.img3{
	background-image: url(../img/3.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img4{
	background-image: url(../img/4.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img5{
	background-image: url(../img/5.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img6{
	background-image: url(../img/6.jpg);
	background-repeat: no-repeat;
	padding:50px;

}


.img7{
	background-image: url(../img/7.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img8{
	background-image: url(../img/8.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img9{
	background-image: url(../img/9.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img10{
	background-image: url(../img/10.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img11{
	background-image: url(../img/11.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img12{
	background-image: url(../img/12.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img13{
	background-image: url(../img/13.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img14{
	background-image: url(../img/14.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img15{
	background-image: url(../img/15.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img16{
	background-image: url(../img/16.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img17{
	background-image: url(../img/17.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img18{
	background-image: url(../img/18.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img19{
	background-image: url(../img/19.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img20{
	background-image: url(../img/20.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img21{
	background-image: url(../img/21.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.img22{
	background-image: url(../img/22.jpg);
	background-repeat: no-repeat;
	padding:50px;

}

.ali{
	padding:5px 72px;
}

.color {
	background-color:#99cc99;
}

.color2 {
	background-color:#FA8072;
}

.color3 {
	background-color:#DC143C;
}

.color4 {
	background-color:#FF1493;
}

.color5 {
	background-color:#ff6347;
}

.color6 {
	background-color:#ff4500;
}
