.color1 {
	background-color:red;
}

.color2 {
	background-color:green;
}

.color3 {
	background-color:blue;
}

.color4 {
	background-color:yellow;
}

.color5 {
	background-color:cyan;
}

.color6 {
	background-color:purple;
}

.color7 {
	background-color:magenta;
}

.color8 {
	background-color:#53C7EA;
}

.color9 {
	background-color:#53EA73;
}

.color10 {
	background-color:#9C53EA;
}

.color12 {
	background-color:#9C53EA;
}