.color0{
		text-align: center;
		font-size:20px;
}

.color1{
		background-color:#00BFFF;
		text-align: center;
		font-size:20px;
}



.color2{
		background-color:#FFDEAD;
		text-align: center;
		font-size:20px;
		background-image:url(img/imagen1.png);
}

.color3{
		background-color:red;
		text-align: center;
		font-size:20px;
}

.color4{
		background-color:#98FB98;
		text-align: center;
		font-size:20px;
}





.color5{
		background-color:Coral;
		text-align: center;
		font-size:20px;
}

.color6{
		background-color:OrangeRed;
		text-align: center;
		font-size:20px;
}

.color7{
		background-color:LightSalmon;
		text-align: center;
		font-size:20px;
}

.color8{
		background-color:Tomato;
		text-align: center;
		font-size:20px;
}



.color10{
		background-color:#00FF7F;
		text-align: center;
		font-size:20px;
}

.color11{
		background-color:lightGreen;
		text-align: center;
		font-size:20px;
}

.color12{
		background-color:MediumAquamarine;
		text-align: center;
		font-size:20px;
}

.color13{
		background-color:SkyBlue;
		text-align: center;
		font-size:20px;
}

.color14{
		background-color:LightSeaGreen;
		text-align: center;
		font-size:20px;
}

.moon{
		text-align: center;
		background-image:url("../img/moon.jpg");
		background-repeat:no-repeat;
		padding:85px;
}


.world{
		text-align: center;
		background-image:center ;
		background-image:url("../img/world.jpg");
		background-repeat:no-repeat;
		padding:85px;
}

