.color1 {
	background-color:#CD5C5C;
}

.color2 {
	background-color:#FA8072;
}

.color3 {
	background-color:#DC143C;
}

.color4 {
	background-color:#FF1493;
}

.color5 {
	background-color:#ff6347;
}

.color6 {
	background-color:#ff4500;
}

.color7 {
	background-color:#ff8C00;
}

.color8 {
	background-color:#FFD700;
}

.color9 {
	background-color:#32CD32;
}

.color10 {
	background-color:#3CB371;
}

.color11 {
	background-color:#66CDAA;
}

.color12 {
	background-color:#FFDEAD;
}

.color13 {
	background-color:#DAA520;
}

.pull-left {
  float: left !important;
}