/*  @font-face {
 /* font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  src: local('Allura'), local('Allura-Regular'), url(fonts/woff.woff) format('woff');
}


body {
	font-size: 12px Helvetica;
	} /* comentarios */
	
	/* .header-container{ /* Aqui selecciona todos los elementos que contengan la clase header-container*/
		/*color:red;*/
	/*}*/
	/*
	.title{ /*solo selecciona EL elemento que tenga este id 
		color:red;
	} 
	
	/*
	
	h1{
	font-family: 'Allura', cursive;
	} 
	*/
	body{
	font: 16px/26px Helvetica;
	line-height: 1.4;
	}
	
	.container {
	width: 90%;
	margin: 0 5%;
	}
	
	.header-container{
		border-bottom: 20px solid #e44d26;
	}
	
	.footer-container,
	.main aside{
		border-top: 20px solid #e44d26;
	}
	
	.header-container,
	.footer-container,
	.main aside{
		background: #f16529;
	}
	
	.title{
	color: white;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
	}
	
	nav a {
		display: block;
		margin-bottom: 10px;
		padding: 15px 0;
		
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		
		color:white;
		background: #e44d26;
	}
	
	nav a:hover,
	nav a:visited {
		color: black;
	}
	
	nav a:hover {
		text-decoration: underline;
	}
	
	.main{
		padding: 20px 0;
	}
	
	.main article h1{
		font-size: 2em;
	}
	
	.main aside {
		color: white;
		padding: 20px 0;
	}
	
	.footer-container footer {
		color: white;
		padding: 20px 0;
	}
	
	.clear:before,
	.clear:after{
		content: "  ";
		display: table;
	}
	
	.clear:after{
		clear: both;
	}
	
	
	
	@media only screen and (min-width: 480px) {
		/*esto se aplica a pantallas mas anchas de 480px */
		h1{color:red;}
		nav a {
			float: left;
			width: 27%;
			margin: 0 1.7%;
			padding: 25px 2%;
			margin-bottom: 0;
		}
		nav li:first-child a{
			margin-left:0;
		}
		nav li:last-child a{
			margin-right:0;
		}
		nav ul li{
			display: inline;
		}
		.oldie nav a {
			margin: 0 0.7%;
		}
	}